*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #27081f;
}
a{
    color: #e4e4e4;
    text-decoration: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a{
    position: relative;
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}
.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after{
    transform: translateY(0);
    opacity: 1;
}
.searchBar{
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.searchBar input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    padding-left: 4px;
}
.searchBar input::placeholder{
    color: #e4e4e4;
}
.searchBar button{
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/*.background{
    width: 100%;
    height: 100vh;
    background: url(back2.png) no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
}*/
.container{
    position: absolute;
    top: 15%;
    left: 190px;
    width: 75%;
    height: 550px;
    background: url(back2.png) no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-top: 20px;
    
}
.container .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: transparent;
    padding: 80px;
    color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.textSci h2{
    font-size: 40px;
    line-height: 1;
}
.textSci h2 span{
    
    font-size: 25px;
}
.textSci p{
    font-size: 16px;
    margin: 20px 0;
}
.socialIcon img{
    width: 20px;
    cursor: pointer;
    margin-right: 10px;
    border: 2px solid #27081f;
    transition: .5s ease;
    box-shadow: 0 0 5px #27081f;
}
.socialIcon img:hover{
    transform: scale(1.2);
}
.container .logRegBox{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    overflow: hidden;
    
}
.logRegBox .formBox{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #e4e4e4;
}
.logRegBox .formBox.login{
    transform: translateX(0);
    transition: transform .6s ease;
    transition-delay: 0s;
}
.logRegBox.active .formBox.login{
    transform: translateX(430px);
    transition-delay: 0s;
}
.logRegBox .formBox.Registrer{
    transform: translateX(430px);
    transition: transform .5s ease;
    transition-delay: 0s;
}
.logRegBox.active .formBox.Registrer{
    transform: translateX(0);
    transition-delay: .7s;
}
.formBox h2{
    font-size: 32px;
    text-align: center;
}
.formBox .inputBox{
    width: 340px;
    height: 50px;
    border-bottom: 2px solid #e4e4e4;
    margin: 30px 0;
}
.inputBox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    font-weight: 500;
    padding-right: 28px;
}
.inputBox label{
    position: absolute;
    left: 70px;
    pointer-events: none;
    transition: .5s ease;
}
.formBox .remember-forgot{
    font-size: 14.5px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #e4e4e4;
    margin-right: 3px;
}
.remember-forgot a{
    color: #e4e4e4;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #c4103d;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: #e4e4e4;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
.formBox .loginRegistrer{
    font-size: 14.5px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}
.loginRegistrer p a{
    color: #e4e4e4;
    font-weight: 600;
    text-decoration: none;
    
}
.loginRegistrer a:hover{
    text-decoration: underline;
}